
.icons{
    display: flex;
    justify-content: space-around;
    border: none;
    background-color: white;
}

.battery-full{
    font-size: 16px;
    border: none;
    background-color: white;
}

.battery-three-quarters{
    font-size: 32px;
    border: none;
    background-color: white;
}

.battery-half{
    font-size: 64px;
    border: none;
    background-color: white;
}
.battery-quarter{
    font-size: 128px;
    border: none;
    background-color: white;
}

.battery-empty{
    font-size: 256px;
    border: none;
    background-color: white;
}