.battery{
	border: none;
    background-color: white;
}

body{
    display: flex;
    justify-content: space-around;
}

.full{
    font-size: 16px;
}

.fa-battery-three-quarters{
    font-size: 32px;
}