
.icons{
    display: flex;
    justify-content: space-around;
    border: none;
    background-color: white;
}
i:nth-child(1){
    font-size: 16px;
}
i:nth-child(2){
    font-size: 32px;
}
i:nth-child(3){
    font-size: 64px;
}
i:nth-child(4){
    font-size: 128px;
}
i:nth-child(5){
    font-size: 256px;
}